<%= form_with(model: project) do |form| %>
  <%= form.hidden_field :user_id, value: params[:user_id] %>
 
  <div class="field">
    <%= form.label :titel %>
    <%= form.text_field :titel, id: :project_titel %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :project_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
