<%= form_with(model: @bug,url: project_bugs_path, local: true) do |form| %>
  <%= form.hidden_field :project_id, value: params[:project_id] %>
  <div class="field">
    <%= form.label :titel %>
    <%= form.text_field :titel, id: :project_titel %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :project_body %>
  </div>
  

  <div class="field">
  <%= form.label :bugtype %>
  <%= form.select(:bugtype, Bug.bugtypes.keys) %>
  </div>

  <div class="field">
  <%= form.label :status %>
  <%= form.select(:status, Bug.statuses.keys) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>