<%= form_with(model: bug, local: true) do |form| %>
 
    <div class="field">
      <%= form.label :titel %>
      <%= form.text_field :titel, id: :project_titel %>
    </div>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, id: :project_body %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>